[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"

[dev-packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
scikit-learn = "*"
seaborn = "*"
scipy = "*"
requests = "*"
keras-tuner = "*"
tensorflow = "==2.9"
streamlit = "==1.14.0"
tflite-runtime = {path = "./tflite-runtime-binaries/tflite_runtime-2.5.0.post1-cp39-cp39-win_amd64.whl"}
flask = "*"
gunicorn = "*"
pillow = "*"

[requires]
python_version = "3.9"
