[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"

[dev-packages]
tflite-runtime = {path = "./../tflite-runtime-binaries/tflite_runtime-2.5.0.post1-cp39-cp39-win_amd64.whl"}
python-dotenv = "*"
requests = "*"

[requires]
python_version = "3.9"
